@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Sriracha', cursive;
}

h1 {
    margin: 1rem 1rem;
    text-align: center;
    font-size: 1.5rem;
    color: red;

}

/* h1{
    padding:0.5rem;
    margin-top: 0.5rem;
    /* การใส่ margin-top ให้เป็น 0.5rem เพื่อให้ element ภายในห่างจากด้านบน 0.5 เพื่อให้มันอยู่ตรงกลาง */

/* }  */


/* ul{ */
/* padding : 0.5rem; */
/* margin-bottom: 0.5rem; */
/* การใส่ margin-bottom ให้เป็น 0.5rem เพื่อให้ element ภายในห่างจากด้านล่าง 0.5 เพื่อให้มันอยู่ตรงกลาง  */
/* }  */

body {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;

}


.container {
    margin: 30px auto;
    width: 350px;
    border: 1px solid;
    border-radius: 10px;
    padding-bottom: 10px;
    /* overflow: hidden; */

}


